body {
    overflow: hidden;

}
.gallery {
 
    padding-bottom: 0px;
    
    

}
.gallery .item {
  text-align: center;
  margin:0px;
  padding-top:100px;
}
.gallery .controls {
  position: absolute;
  bottom: 140;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 4em;
  text-align: center;
  text-decoration: none;
  transition: color .9s;
  padding-left:100px;
}
.controls a {
    color:#fff;
    color:rgba(255,255,255,.8);
}
.gallery .control-button-right {
    position:absolute;
    right: 0;
    
}
.gallery .control-button-left {
    position:absolute;
    left: -100;
}
.first {
   background-color: aquamarine
}
.second {
    background-color:lightskyblue;
}
.third {
    background-color: burlywood;
}
.jumbotron {
    background:transparent;
    font-size: 28px;
    font-family: "Gorditas",cursive;
}
.btn {
    font-family: "Gorditas",cursive;
    padding: 100px;
}